*.o
/build/
/dist/
/src/worm2d/bin/
*.egg-info/
/main
/act.dat
/best.gen.dat
/body.dat
/curv.dat
/fitness.dat
/phenotype.dat
/seed.dat
/__pycache__
/testExample
/nv.dat
/nv2.dat
/phenotype2.dat
/w_verb.dat
/test_output/*.dat
/neuromlLocal/*.dat
/neuromlLocal/report.txt
/test_files/test_py_cpp
/neuromlLocal/__pycache__
/neuromlLocal/*.mod
/neuromlLocal/arm64
*_nrn.py
/neuromlLocal/*.gv
/neuromlLocal/Worm2DNet.gv.png
/neuromlLocal/x86_64
/neuromlLocal/testc302NervousSystem
/arm64
/x86_64
/report.txt
/exampleRun_nml
/*.dat
/exampleRun2
/neuromlLocal/testc302SigSim/*.dat
/neuromlLocal/testc302SigSim/arm64
/neuromlLocal/testc302SigSim/x86_64
/neuromlLocal/testc302SigSim/report.txt
/neuromlLocal/testc302SigSim/testc302NervousSystem
/RoyalSociety2018/*.dat
/RoyalSociety2018/main
/Worm2D/main
/network2021/main
/experiments/izq_runs_nets/*/*.gv
/experiments/izq_runs_nets/*/*.pdf
/experiments/izq_runs_nets_nml/*/*.gv
/experiments/izq_runs_nets_nml/*/*.pdf
/*/*.gv
/*/*.pdf
.DS_Store
/CE_orientation/main
/Worm2D/main_osc
/checkoutexp.sh
/.ipynb_checkpoints
/RoyalSociety2018/testRS18/ExampleActivity.png
/RoyalSociety2018/testRS18/Motion.png
/RoyalSociety2018/testRS18/Orient.png
/RoyalSociety2018/testRS18/act.dat
/RoyalSociety2018/testRS18/best.gen.dat
/RoyalSociety2018/testRS18/body.dat
/RoyalSociety2018/testRS18/body_mm.dat
/RoyalSociety2018/testRS18/curv.dat
/RoyalSociety2018/testRS18/curv_t.dat
/RoyalSociety2018/testRS18/fitness.dat
/RoyalSociety2018/testRS18/output.wcon
/RoyalSociety2018/testRS18/params.dat
/RoyalSociety2018/testRS18/seed.dat
/RoyalSociety2018/testRS18/speed.dat
/RoyalSociety2018/testRS18/worm_data.json
/experiments/izq_runs*

/ex*/Orient.png
/ex*/*.dat
/ex*/*.json
/ex*/*.cpt
/ex*/Evo*.png
/ex*/Fit*.png
/ex*/LEM*.png
/ex*/Motion.png
/ex*/beha*.png
/ex*/Worm*.png
/ex*/*.mod
/ex*/*.nml
/ex*/*.xml
/ex*/*.wcon


/experiments/*/*.dat
/experiments/*/*.json
/experiments/*/*.mod
/experiments/*/*.nml
/experiments/*/*.xml
/experiments/*/Fit*.png
/experiments/*/Mot*.png
/experiments/*/Or*.png
/experiments/*/Ev*.png
/experiments/*/LE*.png
/experiments/*/Wo*.png
/experiments/*/*.cpt
/experiments/*/*.gv
/experiments/*/beha*
/experiments/*/*.wcon

/testruns/*/*.dat
/testruns/*/*.json
/testruns/*/Ev*.png
/testruns/*/Fit*.png
/testruns/*/Mot*.png
/testruns/*/Or*.png
/testruns/*/Wor*.png
/testruns/*/LE*.png
/testruns/*/beh*.*
/testruns/*/*.mod
/testruns/*/*.*ml
/testruns/*/*.gv
/testruns/*/*.cpt
/testruns/*/*.wcon
/RoyalSociety2018/testRS18_2
/docs
/notebooks
__pycache__
/src/worm2d/neuromlLocal/testc302SigSim/arm64
/src/worm2d/neuromlLocal/testc302SigSim/x86_64
/src/worm2d/neuromlLocal/testc302SigSim/*.dat
/src/worm2d/neuromlLocal/testc302SigSim/testc302NervousSystem
/src/worm2d/neuromlLocal/testc302SigSim/report.txt
/synchere.sh
/wheelhouse
/tests/test_files/test_py_cpp
